<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    
    </div>
<!-- 循环展示 -->
	<span id="ewan">永远相信美好的事情即将发生！</span>
	<script type="text/javascript">
	var count = {
	    id: 1
	}
	function foot(count)
	{

	switch(count.id)
	{
		case 1:
		    document.getElementById('ewan').innerHTML='只要人人都能献出一点爱，世界将会变成美好的人间';
		    break;
		case 2:
		    document.getElementById('ewan').innerHTML='极简生活！';
		    break;
		case 3:
		    document.getElementById('ewan').innerHTML='天天快乐！';
		    break;
		case 4:
		    document.getElementById('ewan').innerHTML='金头盔飞行员蒋佳冀：知道了不行，熟悉也不够，要真正进入潜意识，成为条件反射才行。';
		    break;
		case 5:
		    document.getElementById('ewan').innerHTML='永远相信美好的事情即将发生！';
		    break;
		default:
		    count.id=0;
	}
	count.id++;
	}
	setInterval("foot(count)",2000);		
	</script>

  </div>
</footer>
