<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
  <div align=center>
  <table cellpadding=3>
      <tr>
        <td width=20%><a href="https://analytics.google.com"  target="_black">Google Analysis</a></td>
        <td align=left width=10%><a href="http://www.365rili.com/"  target="_black">365日历</a></td>
        <td align=right width=10%><a href="https://mail.google.com"  target="_black">Gmail</a></td>
        <td width=5% align=center>{% include icon-github.html %}</td>
        <td align=right><a href="https://github.com/captain5/captain5.github.io"  target="_black">Captain5</a></td>
        <td align=right><a href="https://www.google.com.hk"  target="_black">Google</a></td>
        <td align=right width=10%><a href="https://www.baidu.com/"  target="_black">百度</a></td>
        <td align=right width=10%><a href="http://notepad.flowsoft7.com/"  target="_black">Notepad</a></td>
        <td align=right width=10%><a href="http://www.duokan.com/u/mybook"  target="_black">多看阅读</a></td>
      </tr>
      <tr>
        <td width=20%><a href="http://stackoverflow.com/"  target="_black">Stack Overflow</a></td>
        <td align=left width=10%><a href="http://www.365rili.com/"  target="_black">365日历</a></td>
        <td align=right width=10%><a href="https://mail.google.com"  target="_black">Gmail</a></td>
        <td width=5% align=center>{% include icon-github.html %}</td>
        <td align=right><a href="https://github.com/captain5/captain5.github.io"  target="_black">Captain5</a></td>
        <td align=right><a href="https://www.google.com.hk"  target="_black">Google</a></td>
        <td align=right width=10%><a href="http://play.baidu.com/"  target="_black">百度音乐</a></td>
        <td align=right width=10%><a href="http://translate.google.cn/" target="_blank">谷哥翻译</a></td>
        <td align=right width=10%><a href="http://www.mi.com/"  target="_black">小米网</a></td>
      </tr>
  </table>
  </div>    
      <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
 
    {% include footer.html %}
    
   </body>

</html>
